{% extends "./base/base.njk" %}

{% block title %}egg-api{% endblock %}
{% block description %}接口服务总览{% endblock %}
{% block keywords %}邮箱: xxx@xxx.com,联系我{% endblock %}
{% set navActive = "about" %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/wingcss"/>
<link rel="stylesheet" type="text/css" href="../../public/css/header.css">
<link rel="stylesheet" type="text/css" href="../../public/css/index.css">
<link rel="stylesheet" type="text/css" href="../../public/css/footer.css">
{% endblock %}

{% block content %}
  <!-- 导入公共的顶部模板 -->
  {% include './base/header.njk' %}
  <div class="page-wrapper container">
    <!-- 渲染html模板演示 -->
    <div>{{content | safe}}</div>

    {% for item, value in list %}
      <div class="wtf">
        <h3 id="{{item}}" class="anchor-point">{{ item }}</h3>
        <div class="row">
          {% for v in value %}
            <div class="col-3">{{v}}</div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
  <!-- 导入公共的底部模板 -->
  {% include './base/footer.njk' %}
{% endblock %}

{% block script %}
 <script src="../public/js/index.js"></script>
{% endblock %}