{% extends "./base/base.njk" %}

{% block title %}egg-api{% endblock %}
{% block description %}接口服务总览{% endblock %}
{% block keywords %}邮箱: xxx@xxx.com,联系我{% endblock %}
{% set navActive = "about" %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/wingcss"/>
<link rel="stylesheet" type="text/css" href="../../public/css/header.css">
<link rel="stylesheet" type="text/css" href="../../public/css/index.css">
<link rel="stylesheet" type="text/css" href="../../public/css/footer.css">
{% endblock %}

{% block content %}
  {% include './base/header.njk' %}
  <div class="page-wrapper container">
    <!-- 背景图 -->
    <section class="banner-wrapper">
      <span>{{ userName }}</span>
    </section>
    
    <!-- 渲染html模板演示 -->
    <div>{{content | safe}}</div>

        
    <div class="row">
      <div class="col-3">3</div>
      <div class="col-3">3</div>
      <div class="col-6">6</div>
    </div>

    <!-- 导入公共的底部模板 -->
  </div>
  {% include './base/footer.njk' %}
{% endblock %}

{% block script %}
 <script src="../public/js/index.js"></script>
{% endblock %}