.Home-header {
  box-shadow: #ccc 0 0 10px 0;
  position: fixed;
  left: 0;
  width: 18vw;
  background-color: #fff;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  left: 0;
}


.Home-header-container {
  display: flex;
  flex-direction: column;
}