<div class='Home-header'>
  <div class="container Home-header-container">
    {% for item in list %}
    <a href="#{{item.path}}">
      <button class='outline headerButton' onClick="handleClick(this)">{{item.path}}</button>
    </a>
    {% endfor %}
  </div>
</div>